/*=============
Main css
==============*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-family: 'Lobster', cursive;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%
}

/* Header area
============== */
.header_area {
    padding: 15px 0;
    transition: all .7s;
}
.header_area.stiky {
    position: fixed;
    width: 100%;
    top: 0;
    background: #000;
    color: #fff;
    z-index: 99;
    padding: 5px 0;
}

.admin-bar .header_area.stiky {
    top: 32px;
}
ul#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

ul#menu li {
    display: inline-block;
    position: relative;
}

ul#menu li a {
    display: block;
    padding: 10px;
}
.header_area.stiky ul#menu li a{
    color: #ffffff;
}
.mobile_menu {
    display: none;
}

/* breadcam */
.bredcam_area {
    padding: 120px 0;
}

.bredcam_area a {
    color: #fff;
}
/* error */
.error_page {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}